.ant-layout-sider-children .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.dashboard-wrapper {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web-title {
  font-weight: bolder;
  text-transform: uppercase;
  color: #1b551a;
  font-size: 27px;
  margin-bottom: 0;
}
.broadway {
  color: #1a8ffc;
  font-weight: bolder;
  margin-bottom: 0;
}
.course {
  font-weight: 700;
  color: #b10404b3;
  margin-bottom: 0;
}
.instructor {
  font-family: monospace;
  font-weight: bolder;
  font-style: italic;
  color: #26561a;
}
